[SddmGreeterTheme]
Name=@THEMENAME@
Description=@THEMENAME@ sddm theme, based on elarun SddmGreeterTheme.
Type=sddm-theme
Author=Hendrik Lehmbruch
Copyright=2015, Hendrik Lehmbruch
License=GPL-2.0+
Screenshot=@SCREENSHOT@
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=@THEMENAME@
Theme-API=2.0
Website=https://github.com/sddm/sddm
