Package: sddm-theme-deepspace
Source: sddm-themes-siduction
Version: 2015.10.18-1
Architecture: amd64
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 608
Recommends: sddm
Provides: sddm-theme
Section: x11
Priority: optional
Description: Deepspace theme for sddm
 Siduction deepspace sddm theme.
 .
 This package contain a Siduction sddm theme.
