Package: sddm-theme-current
Version: 2015.10.18-1
Architecture: amd64
Maintainer: Alf Gaida <agaida@siduction.org>,
Installed-Size: 612
Section: x11
Priority: optional
Description: Siduction theme for sddm
 Siduction sddm theme for current builds.
 .
 This package contain a Siduction sddm theme.
