Source: sddm-theme-whiteroom
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Hendrik Lehmbruch <hendrikl@siduction.org>
Section: x11
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
#Vcs-Browser: http://
#Vcs-Git: git://
#Homepage: https://github.com/lxde/lxqt-about

Package: sddm-theme-whiteroom
Architecture: any
Depends: ${misc:Depends}
Recommends: sddm
Provides: sddm-theme
Description: Whiteroom theme for sddm
 Siduction whiteroom sddm theme.
 .
 This package contain a Siduction sddm theme.
